.user-table {
  width: 100%;
}
.user-table-head {
  background-color: rgb(161, 161, 161); 
} 

.user-table-body {
background-color: rgb(206, 206, 206); 
  
}

.user-table,
tr, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

tr {
  height: 40px;
}

th {
  text-align: left;
}

th,
td {
  padding: 10px;
  min-width: 300px;
}
